### task 2

In [7]:
import pandas as pd

## qstn1

In [11]:
Rate={'1 SGD':'64.05 INR','1 JPY':'0.57 INR','1 BDT':'0.70 INR','1 CNY':'11.74 INR','1 HKD':'10.76 INR','1 IDR':'0.005 INR','1 KHR':'0.020 INR','1 KRW':'0.062 INR','1 LAK':'0.003 INR','1 LKR':'0.28 INR'}

In [13]:
Rate

{'1 SGD': '64.05 INR',
 '1 JPY': '0.57 INR',
 '1 BDT': '0.70 INR',
 '1 CNY': '11.74 INR',
 '1 HKD': '10.76 INR',
 '1 IDR': '0.005 INR',
 '1 KHR': '0.020 INR',
 '1 KRW': '0.062 INR',
 '1 LAK': '0.003 INR',
 '1 LKR': '0.28 INR'}

In [29]:
pd.DataFrame(Rate,index=['rate'])

,1 SGD,1 JPY,1 BDT,1 CNY,1 HKD,1 IDR,1 KHR,1 KRW,1 LAK,1 LKR
rate,64.05 INR,0.57 INR,0.70 INR,11.74 INR,10.76 INR,0.005 INR,0.020 INR,0.062 INR,0.003 INR,0.28 INR

## qstn2

In [6]:
football={'Ronaldo':['07','Al-nassr'],'Messi':['10','Inter Miami'],'Neymar':['10','Al Hilal']}

In [8]:
football

{'Ronaldo': ['07', 'Al-nassr'],
 'Messi': ['10', 'Inter Miami'],
 'Neymar': ['10', 'Al Hilal']}

In [10]:
a=pd.DataFrame(football,index=['jersey number','club'])

In [12]:
a

                Ronaldo        Messi    Neymar
jersey number        07           10        10
club           Al-nassr  Inter Miami  Al Hilal

## qstn 3

In [15]:
c={'India':'$3.937 trillion','United States':"$28.78 trillion","China":"$18.53 trillion","Germany":"$4.59 trillion","Japan":"$4.11 trillion","United Kingdom":"$3.5 trillion","France":"$3.13 trillion","Brazil":"$2.33trillion","Italy":"$2.32trillion","Canada":"$2.24trillion"}

In [17]:
c

{'India': '$3.937 trillion',
 'United States': '$28.78 trillion',
 'China': '$18.53 trillion',
 'Germany': '$4.59 trillion',
 'Japan': '$4.11 trillion',
 'United Kingdom': '$3.5 trillion',
 'France': '$3.13 trillion',
 'Brazil': '$2.33trillion',
 'Italy': '$2.32trillion',
 'Canada': '$2.24trillion'}

In [19]:
gdp=pd.DataFrame(c,index=['GDP'])

In [21]:
gdp

,India,United States,China,Germany,Japan,United Kingdom,France,Brazil,Italy,Canada
GDP,$3.937 trillion,$28.78 trillion,$18.53 trillion,$4.59 trillion,$4.11 trillion,$3.5 trillion,$3.13 trillion,$2.33trillion,$2.32trillion,$2.24trillion